<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
    <title>Bible</title>
  </head>
  <body>
    <div>
      <div>
        <form hx-post="/GetChapter" hx-target="body" hx-indicator="#spinner">
          <div>
            <label for="form-book">Book</label>
            <input
              type="text"
              name="book"
              id="form-book"
              class="form-control"
              value="{{ .Book }}"
            />
          </div>
          <div>
            <label for="form-chapter">Chapter</label>
            <input
              type="text"
              name="chapter"
              id="form-chapter"
              class="form-control"
              value="{{ .Chapter }}"
            />
          </div>
          <button type="submit">
            <span
              id="spinner"
              class="spinner-border spinner-border-sm htmx-indicator"
              role="status"
              aria-hidden="true"
            ></span>
            Submit
          </button>
        </form>

        <div id="content">
          <div>
            <button
              hx-post="/"
              hx-target="body"
              hx-indicator="#spinner"
              hx-vals='{"translation": "{{ .Translation }}", "book": "{{ .Book }}", "chapter": {{ .Chapter }}, "prev": true}'
              {{ if .HasPrevChapter }}
              {{ else }}
                disabled
              {{ end }}
            >
              prev
            </button>
            <button
              hx-post="/"
              hx-target="body"
              hx-indicator="#spinner"
              hx-vals='{"translation": "{{ .Translation }}", "book": "{{ .Book }}", "chapter": {{ .Chapter }}, "next": true}'
              {{ if .HasNextChapter }}
              {{ else }}
                disabled
              {{ end }}
            >
              next
            </button>
          </div>
          <ul id="verse-list" class="list-group">
            {{ range .Verses }}
              <li class="list-group-item">
                <span>{{ .Verse }}</span><span>{{ .Content }}</span>
              </li>
            {{ end }}
          </ul>
          <div>
            <button
              hx-post="/"
              hx-target="body"
              hx-indicator="#spinner"
              hx-vals='{"translation": "{{ .Translation }}", "book": "{{ .Book }}", "chapter": {{ .Chapter }}, "prev": true}'
              {{ if .HasPrevChapter }}
              {{ else }}
                disabled
              {{ end }}
            >
              prev
            </button>
            <button
              hx-post="/"
              hx-target="body"
              hx-indicator="#spinner"
              hx-vals='{"translation": "{{ .Translation }}", "book": "{{ .Book }}", "chapter": {{ .Chapter }}, "next": true}'
              {{ if .HasNextChapter }}
              {{ else }}
                disabled
              {{ end }}
            >
              next
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
